body {
  #action-button-container {
    display: flex;
    flex-direction: row;
  }

  .action-button {
    min-width: 50px;
  }

  .error-msg {
    background-color: rgb(250, 181, 181);
    max-width: 400px;
    white-space: noWrap;
  }
}
