body {
  margin: 0;

  #action-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    max-width: 800px;
    justify-content: center;
  }

  .action-button {
    white-space: noWrap;
  }

  .message {
    background-color: #d7ffd7;
    margin: 0;

    .error {
      background-color: #f1e0e0;
    }
  }
}
